.home-box {
  display: flex;
  height: 100vh;
}

@media (max-width: 600px) {
  .home-box {
    flex-direction: column;
    min-height: auto;
  }

  .aside {
    border: 1px solid red;
  }

  .main {
    justify-content: flex-start;
  }
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.aside__hero {
  width: 250px;
}

.aside__text {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.aside__text--pink {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fd567d;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.main__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 0.5rem;
}

.main__text {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.main__button--register-entity {
  padding: 0.7rem;
  border-radius: 0.3rem;
  color: black;
  background-color: #36e5e9;
  width: 100%;
  border: none;
  font-size: 0.9rem;
}

.main__button--show-entity {
  padding: 0.7rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #fd567d;
  width: 100%;
  border: none;
  font-size: 0.9rem;
}

.entity__container {
  display: flex;
  width: 90%;
}

.main__text--blue {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.main__text--pink {
  color: #fd567d;
  font-weight: bold;
}
